<div class="container"> 
<h1>Registrar Puesto</h1>
<form enctype="multipart/form-data" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col form-group">
            <p>
                <label for="nombrePuesto">Nombre del Puesto:</label>
                <input type="text" class="form-control" id="nombrePuesto" [(ngModel)]="puesto.nombrePuesto" name="nombrePuesto" required>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col form-group">
            <p>
                <label for="departamento">Departamento</label>
                <input type="text" class="form-control" id="departamento" [(ngModel)]="puesto.departamento" name="departamento" required>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col form-group">
            <p>
                <label for="nombre">descripcionPuesto</label>
                <textarea id="descripcionPuesto" [(ngModel)] = "puesto.descripcionPuesto" class="form-control" name="descripcionPuesto" required></textarea>
            </p>
        </div>
    </div>
    <div>
        <p class="btn2 col form-group">
            <button class="btn btn-success" type="submit">Registrar Puesto</button>
        </p>
        </div>
</form>
</div>
