<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
   
</div> 
<h1>Actualizar Datos del Puesto</h1>
<form >
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 form-group">
            <p>
                <label for="nombrePuesto">Nombre del puesto:</label>
                <input type="text" class="form-control" id="nombrePuesto" [(ngModel)] = "puesto.nombrePuesto" name="nombrePuesto" required>
            </p>
        </div>
        
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 form-group">
            <p>
                <label for="nombre">Departamento</label>
                <input type="text" class="form-control" id="departamento" [(ngModel)]= "puesto.departamento" name="departamento" required>
            </p>
        </div>
       
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 form-group">
            <p>
                <label for="nombre">Descripcion Del Puesto</label>
                <textarea id="descripcionPuesto" [(ngModel)] = "puesto.descripcionPuesto" class="form-control" name="descripcionPuesto" required></textarea>
            </p>
        </div>
    </div>
    <div>
        <p class="block"> 
          <button (click)="ActualizarPuesto()" class="btn btn-success">Actualizar</button>
        </p>
      </div>
</form>
