<div class="container">
<h1>Registrar Estados de los Empleados</h1>
<form enctype="multipart/form-data" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col form-group">
            <p>
                <label for="nombrePuesto">Nombre del Estado:</label>
                <input type="text" class="form-control" id="nombrePuesto" [(ngModel)]= "estado.nombreEstado" name="nombrePuesto" required>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col form-group">
            <p>
                <label for="departamento">Descripciín del Estado</label>
                <input type="text" class="form-control" id="departamento" [(ngModel)]= "estado.descripcionEstado" name="departamento" required>
            </p>
        </div>
    </div>
  
    <div>
        <p class="btn2 col form-group">
            <button class="btn btn-success" type="submit">Registrar Puesto</button>
        </p>
        </div>
</form>
</div>