<h1>Actualizar Datos de la Empresa</h1>
<form >
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 form-group">
            <p>
                <label for="nombre">Nombre de la Empresa:</label>
                <input type="text" class="form-control" id="nombreEmpresa" [(ngModel)] = "empresa.nombreEmpresa" name="nombre" required>
            </p>
        </div>
        
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 form-group">
            <p>
                <label for="nombre">Razon Social de la Empresa</label>
                <input type="text" class="form-control" id="razonSocial" [(ngModel)]= "empresa.razonSocial" name="razonSocial" required>
            </p>
        </div>
       
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 form-group">
            <p>
                <label for="nombre">Cuit de la Empresa</label>
                <input type="text" class="form-control" id="cuitEmpresa" [(ngModel)]= "empresa.cuitEmpresa" name="cuitEmpresa" required>
            </p>
        </div>
    </div>
    <div>
        <p class="block"> 
          <button (click)="ActualizarEmpresa()" class="btn btn-success">Actualizar</button>
        </p>
      </div>
</form>
