<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    
</div> 
<h1>Registrar Empresa</h1>
<form enctype="multipart/form-data" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 form-group">
            <p>
                <label for="nombre">Nombre de la Empresa:</label>
                <input type="text" class="form-control" id="nombre" [(ngModel)]="empresa.nombreEmpresa" name="nombre" required>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 form-group">
            <p>
                <label for="nombre">Razon Social de la Empresa</label>
                <input type="text" class="form-control" id="nombre" [(ngModel)]="empresa.razonSocial" name="nombre" required>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 form-group">
            <p>
                <label for="nombre">Cuit de la Empresa</label>
                <input type="text" class="form-control" id="nombre" [(ngModel)]="empresa.cuitEmpresa" name="nombre" required>
            </p>
        </div>
    </div>
    <div>
        <p class="btn2 col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
            <button class="btn btn-success" type="submit">Registrar</button>
        </p>
        </div>
</form>

