<H1>Registro de faltas</H1>
<div class="enmarcado">
  <div class="row">
    
    <form enctype="multipart/form-data"  #faltaForm (submit)="guardarFalta2()">
      <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 form-group">
          <p>
            <label>Fecha Inicial:</label>
            <input type="date" [(ngModel)]="falta.fechaFaltaInicio" name="fechaFalta">
          </p>
        </div>

        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 form-group">
          <p>
            <label>Fecha Final:</label>
            <input type="date" [(ngModel)]="falta.fechaFaltaFinal" name="fechaFalta">
          </p>
        </div>

        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 form-group">
          <p>
            <label>Tipo de Falta:</label>
            <select [(ngModel)]="falta.tipoFalta" name="tipo">
              <option [ngValue]="undefined"> - seleccionar Tipo de Falta - </option>
              <option value="ENFERMEDAD">Enfermedad</option>
              <option value="SIN_CAUSA">Sin causa</option>
              <option value="POR_LUTO">Por Luto</option>
              <option value="ASUNTO_FAMILIAR">Asunto Familiar</option>
            </select>
          </p>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 form-group">
          <p>
            <label>Descripción de la Falta:</label>
            <input type="text" [(ngModel)]="falta.descripcionFalta" name="descripcion">
          </p>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 form-group">
          <p>
            <label for="empleado">Empleado:</label>
            <select [(ngModel)]="falta.empleado" id="empleado" name="empleado">
              <option [ngValue]="undefined"> --- seleccionar empleado --- </option>
              <option *ngFor="let empleado of empleados" [ngValue]="empleado">{{ empleado.nombre }} {{ empleado.apellido }}</option>
            </select>
          </p>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 form-group">
          <p>
            <label>Constancia de la Falta:</label>
            <input type="file" name="archivo" (change)="onFileSelected($event)">
            <input type="hidden" [(ngModel)]="extensionArchivo" name="extensionArchivo">
          </p>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 form-group">
          <p>
            <label>Nombre de archivo:</label>
            <input type="text" placeholder="nombre del archivo sin la extensión" [(ngModel)]="nombreArchivo" name="nombreArchivo">
        </p>          
        </div>       
     
      </div>
      
      <div ngForm #faltaForm>
        <p class="btn2 col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
            <button class="btn btn-success" type="submit">Registrar</button>
        </p>
        </div>

    </form>
  </div>
</div>


<h1>Lista De Faltas</h1>
<div class="container">
    <table class="table">
        <input type="text" [(ngModel)]="term" placeholder="Buscar...">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Tipo de falta</th>
                <th scope="col">Descripción de la falta</th>
                <th scope="col">Fecha Inicial Falta</th>
                <th scope="col">Fecha de Reincorporación</th>
                <th scope="col">Días Faltados</th>
                <th scope="col">Archivos</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let falta of faltas | filter: term; let first = first">
                <tr [ngClass]="{'blue-row': first }">
                 
                    <td>{{ falta.empleado.nombre }} {{ falta.empleado.apellido }}</td>
                    <td>{{ falta.tipoFalta }}</td>
                    <td>{{ falta.descripcionFalta }}</td>
                    <td>{{ MostrarFechaInversa(falta.fechaFaltaInicio) }}</td>
                    <td>{{ MostrarFechaInversa(falta.fechaFaltaFinal) }}</td>
                    <td>{{ calcularDias(falta.fechaFaltaInicio, falta.fechaFaltaFinal) }}</td>
                    <td>
                      <span class="file-link" (click)="openFile2(falta.empleado.id, falta.idFalta, falta.urlArchivo)">{{ obtenerNombreArchivo(falta.urlArchivo) }}</span>
                    </td>
                    <td>
                        <button (click)="verDetallesEmpleado(falta.empleado.id)" class="btn btn-success"
                            type="submit">Detalles</button>
                    </td>
                    <td>
                        <button (click)="editarFalta(falta.idFalta)" class="btn btn-success" type="submit">Editar</button>
                    </td>
                    <td>
                        <button (click)="eliminarFalta(falta.idFalta)" class="btn btn-success" type="submit">Eliminar</button>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>



  