<div>
    <h1>Resumen Del Empleado</h1>
    <div class="container"> 
    <div>
        <h1>Datos Personales</h1>
       
        <div>
            <label>
              Estado Laboral:
              <span [ngClass]="{'activo': empleado.estadoLaboral?.nombreEstado === 'Activo', 'inactivo': empleado.estadoLaboral?.nombreEstado === 'Inactivo'}">
                {{ empleado.estadoLaboral?.nombreEstado }}
              </span>
            </label>
          </div>

          
     
          

        <div>
            <label>Nombre: {{empleado.nombre}} </label>
        </div>

        <div>
            <label>Apellido: {{empleado.apellido}}</label>
        </div>

        <div>
            <label>Dni: {{empleado.dni}} &nbsp; &nbsp; Cuil: {{empleado.cuil}}  &nbsp; &nbsp; Teléfono: {{empleado.telefono}}</label>
        </div>

        <div>
            <label>Email: {{empleado.email}}</label>
        </div>

        <div>
            <label>Fecha de Nacimiento: {{ MostrarFechaInversa(empleado.fechaNac) }} &nbsp; &nbsp; Edad: {{ edad }}</label>
        </div>
        

        <div>
            <label>Genero: {{empleado.genero}}</label>
        </div>
    </div>     

    <div>
        <h1>Ficha Del Empleado</h1>
        
        <div>
            <label> <b>Empresa:</b> {{empleado.empresa?.nombreEmpresa}} &nbsp; &nbsp; <b>Razon Social:</b> {{empleado.empresa?.razonSocial}} &nbsp; &nbsp; <b>Cuit:</b> {{empleado.empresa?.cuitEmpresa}}</label>
        </div>
        
        <div>
            <label><b>Puesto:</b> {{empleado.puesto?.nombrePuesto}} &nbsp; &nbsp; <b>Departamento:</b> {{empleado.puesto?.departamento}} &nbsp; &nbsp; <b>Descripción del Puesto:</b> {{empleado.puesto?.descripcionPuesto}}</label>
        </div>

        <div>
            <label><b>Categoría:</b> {{empleado.categoria?.nombreCategoria}}</label>
        </div>
 
          <div class="direccion-container">
            <label class="direccion-label"><b>Dirección:</b> {{empleado.direccion}} <a href="{{url}}" target="_blank">Abrir dirección en Google Maps</a></label>
            
          </div>
          

        <div>
            <label><b>Fecha de Ingreso:</b> {{empleado.fechaIngreso}} &nbsp; <b>Tiempo en la empresa:</b> {{ tiempo2 }} &nbsp; <b>Periodos con faltas:</b> {{ cantidadFaltas }} </label> 
           <label><b>Cantidad Total de Días Faltados: {{cantidadFaltasDias}}</b> &nbsp; <b>Antecedentes Médicos: </b>{{empleado.antecedentes}}</label>
          
        </div>

    </div>

   
    <div >
        <button (click)="editarEmpleado(empleado.id)" class="btnEdit">Editar</button>
   </div>
     </div>


    <h1>Antecedentes Médicos</h1>
    <div class="bottom-buttons">
        <div class="container4">
            <div class="row">
                <button class="col" (click)="RegistrarAntecedentes(empleado.id)">Registrar</button>
               
            </div>
        </div>
    </div>
      
    <div class="container3">   
        <div class="top-table"> 
            <table class="table2 divided-table">         
                <thead>
                    <tr>
                        <th style="width: 8%">Aptitup</th>
                        <th style="width: 8%">TipoPreexistencia</th>
                        <th style="width: 8%">Preexistencia</th>
                        <th colspan="3" style="width: 37%">Descripcion</th>
                        <th style="width: 8%">Nombre Proveedor</th>
                        <th style="width: 8%">Localidad Proveedor</th>
                        <th style="width: 8%">Nombre Medico del Proveedor</th>
                        <th style="width: 8%">Matricula del Médico</th>
                        <th style="width: 8%">Examen de Ingreso</th>
                        <th></th>
                        
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let antecedente of antecedentes" > 
                        <td style="width: 8%">{{antecedente.aptitudes.nombreAptitud}}</td>
                        <td style="width: 8%">{{antecedente.tipoPreexistencia.nombreTipoPreexistencia}}</td>
                        <td style="width: 8%">{{antecedente.preexistencias.nombrePreexistencia}}</td>
                        <td colspan="3" style="width: 36%">{{antecedente.descripcionPreexistencia}}</td>
                        <td style="width: 8%">{{antecedente.proveedoresAptitudes.nombreProveedorAptitud}}</td>
                        <td style="width: 8%">{{antecedente.proveedoresAptitudes.localidadProveedorAptitud}}</td>
                        <td style="width: 8%">{{antecedente.medicosProveedor.nombreMedicoProveedor}}</td>
                        <td style="width: 8%">{{antecedente.medicosProveedor.matriculaMedicoProveedor}}</td>
                          <td>
                            <span class="file-link" (click)="openFile3(antecedente.empleado.id, antecedente.idAntecedentes, antecedente.urlArchivoExamen)">{{ obtenerNombreArchivo(antecedente.urlArchivoExamen) }}</span>
                          </td>
                          <td>
                            <button class="col" (click)="editarAntecedentes(antecedente)">Editar</button>
                            <button (click)="eliminarAntecedentes(antecedente.idAntecedentes)" class="btnDelete">Eliminar</button>
                        </td>
                    </tr>  
                 </tbody>
                 
            </table>
        </div>
    </div>



   




<h1>Archivos del candidato</h1>
<div class="container2">
    <div class="row">
        <div class="col listaArchivos">
            <ul>
                <li *ngFor="let file of empleadoFiles" (click)="openFile(employeeId, file)">
                  {{ file }}
                  &nbsp; &nbsp; &nbsp; <span class="eliminar-icon" (click)="deleteFile(employeeId, file); $event.stopPropagation()">Eliminar</span>
                </li>
            </ul>
        </div>
        <div class="row btnSubir">
            <button (click)="subirArchivos(empleado.id)" class="btnEdit2">Subir archivo</button>
        </div>
    </div>
</div>



<h1>Lista de Faltas</h1>

<div class="container3">  
     
            <table class="table2">         
              <thead>
                  <tr>
                      <th scope="col">tipo de falta</th>
                      <th scope="col">Descripcion de la falta</th>
                      <th scope="col">Fecha Inicial de La Falta </th>
                      <th scope="col">Fecha de Reincorporación</th>
                      <th scope="col">Dias Faltados</th>
                      <th scope="col">Archivos</th>
                      
                      
                                         
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let falta of faltas" > 
                      <td>{{falta.tipoFalta}}</td>
                      <td>{{falta.descripcionFalta}}</td>
                      <td>{{MostrarFechaInversa(falta.fechaFaltaInicio)}}</td>
                      <td>{{MostrarFechaInversa(falta.fechaFaltaFinal)}}</td>
                      <td>{{calcularDias(falta.fechaFaltaInicio , falta.fechaFaltaFinal)}} </td>
                      <td>
                       <span class="file-link" (click)="openFile2(employeeId, falta.idFalta, falta.urlArchivo)">{{ obtenerNombreArchivo(falta.urlArchivo) }}</span>
                      </td>
                      
                     

                </tr>  
                           
              </tbody>
          </table>


        </div>


      
</div>
    
